{% extends 'layouts/login-layout.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <p>
            <h3>Login</h3>
            <hr>
            </p>

            <a href="/"><img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"></a>

        </div>
    </div>
{% endblock %}
